{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Visualizations
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart11"></div>
                <p class="card-text">Above is the 3d scatterplot of youtubers total views against subscriber count and
                likes. </p>
            </div>

            <div class="card-body">
                <div id="chart12"></div>
                <p class="card-text">Above is the 3d scatterplot of youtubers total views against subscriber count and
                likes. </p>
            </div>

            <div class="card-body">
                <div id="chart2"></div>
                <p class="card-text">Above is the 3d scatterplot of youtubers total views against subscriber count and
                likes. </p>
            </div>

            <div class="card-body">
                <div id="chart3"></div>
                <p class="card-text">Above is the 3d scatterplot of youtubers total views against subscriber count and
                likes. </p>
            </div>

            <div class="card-body">
                <div id="chart4"></div>
                <p class="card-text">Above is the 3d scatterplot of youtubers total views against subscriber count and
                likes. </p>
            </div>
        </div>
    </div>


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var g11 = {{graph11JSON | safe}};
        Plotly.plot("chart11", g11, {})

        var g12 = {{graph12JSON | safe}};
        Plotly.plot("chart12", g12, {})

        var g2 = {{graph2JSON | safe}};
        Plotly.plot("chart2", g2, {})

        var g3 = {{graph3JSON | safe}};
        Plotly.plot("chart3", g3, {})

        var g4 = {{graph4JSON | safe}};
        Plotly.plot("chart4", g4, {})
    </script>

{% endblock %}