{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Visualizations
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart11"></div>
                <p class="card-text">As we can see in the Figure 1(1), a channels total videos views are definitely log-linearly positively correlated with the channel's subscribers and video count. Rotating the axes we can visualize the marginal effects of each factor on video views and they all seem log-linear. </p>
            </div>

            <div class="card-body">
                <div id="chart12"></div>
                <p class="card-text">As we can see in Figure 1(2), a videos total views are absolutely log-linearly positively correlated with the video's comment count and like count. The correlation is strong and there seems to be a dominant linear relationship in the log scale. Silimarly, rotating the axes we can visualize the marginal effects of each factor on video views and they both seem log-linear. </p>
            </div>

            <div class="card-body">
                <div id="chart2"></div>
                <p class="card-text">As we can see in Figure 2, the video views are approximately normally distributed for each of the levels and combination of the levels of durationCategory and caption, the medium length videos seems to be more variable in terms of view engagement and the other two categories have a bigger spike in their modes. We can also see that the long videos with captions tend to be have more views on average. </p>
            </div>

            <div class="card-body">
                <div id="chart3"></div>
                <p class="card-text">As we can see in Figure 3, a video's view is definitely influenced by the video's category and its publish day of the week and category. In general, education and gaming videos yields way more views than other types of videos in the boxplot. However, we see that specifically, the entertainment videos and new&politics videos has a hard drop on Fridays. film&animations are also lower on Fridays than usual. Moreover, there seems to be barely any news&politics videos on Saturdays and Sundays. Other groups of videos tend to stay consistent in terms of views throughout the week, but they all exhibit signs of diminishing views on Fridays. </p>
            </div>

            <div class="card-body">
                <div id="chart4"></div>
                <p class="card-text">As we can see in Figure 4, the geospatial distribution of channels with their subscriber counts is distinct. Most YouTubers are located in the US and they mostly have high subscriber counts. Surprisingly, there seems to be more and larger YouTubers in India than there is in Europe. There are also many YouTubers in Brazil. There are no YouTubers shown in the map in Africa and China.  </p>
            </div>
        </div>
    </div>


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var g11 = {{graph11JSON | safe}};
        Plotly.plot("chart11", g11, {})

        var g12 = {{graph12JSON | safe}};
        Plotly.plot("chart12", g12, {})

        var g2 = {{graph2JSON | safe}};
        Plotly.plot("chart2", g2, {})

        var g3 = {{graph3JSON | safe}};
        Plotly.plot("chart3", g3, {})

        var g4 = {{graph4JSON | safe}};
        Plotly.plot("chart4", g4, {})
    </script>

{% endblock %}